<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <hr />
      <app-server></app-server>
      <app-server></app-server>
      <!--- This is an example of property binding with square binding [] -->
      <button
        type="button"
        class="btn btn-default customButton"
        [disabled]="!allowNewServer"
        (click)="onCreateServer()"
      >
        <!--- (click) this is event binding--->
        Add Server
      </button>
      <!---Whenver you want to show something just use string interpolation but if you want to change some property use property binding-->
      <p>Button Status: {{ allowNewServer }}</p>
      <p [innerHTML]="allowNewServer"></p>
      <p>Server Creation Status: {{ serverCreationStatus }}</p>

      <hr />

      <!--Event binding example-->
      <label>Server Name</label>
      <input
        type="text"
        class="form-control"
        (input)="OnUpdateServerName($event)"
      />
      <p>{{serverName}}</p>

      <hr/>
      <!--two way binding-->
      <label>Two Way Binding</label>
      <input type="text" class="form-control" [(ngModel)]="serverName">
    </div>
  </div>
</div>
