<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        (click)="onlyOdd = !onlyOdd"
        class="btn btn-primary">Only show odd numbers
      </button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
          >{{odd}}
          </li>
        </div>
<!--        <div *ngIf="!onlyOdd">-->
<!--          <li-->
<!--            *ngFor="let even of evenNumbers"-->
<!--            [ngClass]="{even:even%2==0}"-->
<!--            [ngStyle]="{backgroundColor:even%2==0?'yellow':'transparent'}"-->
<!--            class="list-group-item"-->
<!--          >{{even}}-->
<!--          </li>-->
<!--        </div>-->
        <div *appUnless="!onlyOdd">
          <li
            *ngFor="let even of evenNumbers"
            [ngClass]="{even:even%2==0}"
            [ngStyle]="{backgroundColor:even%2==0?'yellow':'transparent'}"
            class="list-group-item"
          >{{even}}
          </li>
        </div>
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
      <p appBasicHighlight>Style me with Basic Directive</p>
      <!--      binding with custom property-->
      <p [defaultColor]="'yellow'" [highlightColor]="'red'" appBetterHighlight>Style me with Better Directive</p>
    </div>
  </div>
</div>
